<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-test" version="0.9">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Calendar plugin</name>
  <description>Calendar plugin example</description>
  <author>jomo</author>
  <keywords>cordova plugin</keywords>
  <license>NA</license>

  <js-module src="www/calendar.js" name="Calendar">
    <clobbers target="window.calendar" />
  </js-module>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="calendarPlugin">
        <param name="android-package" value="com.memoryabc.cordovapluginhello" />
      </feature>
    </config-file>
    <source-file src="src/android/CalendarPlugin.java" target-dir="src/com//memoryabc" />
  </platform>
  
</plugin>
